@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color:black !important;
}

.topnav {
  background: rgba(255, 255, 255,0.99)
}

.border-black {
  border: 1px solid black !important;
}

/* Index */

.home-container {
  background: url('/media/home2.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cta-head {
  font-family: 'Cabin Sketch', cursive;
  font-size: 3.5rem;
  font-weight: 500 !important;
  color: #fff !important;
}

.btn {
  background: grey;
  color: white !important;
}

/* gallery */

.gallery-title{
  margin-top: 180px !important;
}

.details-container{
  margin-top: 180px !important;
}

.badge {
  color: black;
}

.btt-btn {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.btt-cursor {
  cursor: pointer;
}

/* Basket */

.remove-item {
  cursor: pointer !important;
}

/* Toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

.basket-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}