@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin-top: 170px;
  color: #111 !important;
  font-family: 'Cabin', sans-serif;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto !important;
  margin-bottom: 100px;
}

a {
  color: #111 !important;
}

.border {
  border: 2px solid #111 !important;
}

hr {
  border: 2px solid #111 !important;
}

.banner {
  background: #3B3534;
  color: aliceblue;
}

.delivery-header {
  margin: auto;
}

.card {
  border: none !important;
}

/* Nav */

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.sub-navbar {
  display: flex;
  justify-content: center;
  height: 30px;
  letter-spacing: 10px;
  font-weight: 800;
}

/* Home */

.main-header {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.main-header-mobile {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.cta-container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-btn {
  color: #f0f3f5 !important;
  font-size: 0.8rem;
  background-color: #111;
  min-width: 100px;
  font-weight: 400;
  letter-spacing: 2px;
}

/* carousel */

.carousel-home {
  padding-top: 50px;
}

.carousel-inner img {
  margin: auto;
  width: 75%;
}

.home-img {
  display: flex;
  align-content: center;
}

.about-container {
  padding-top: 70px;
  text-align: center;
}

.about-header {
  border-bottom: 2px solid #111;
  margin-bottom: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Store */

.store-header {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.products-sub-nav {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  font-family: 'Cabin', sans-serif;
  font-weight: 800;
  letter-spacing: 5px;
  border-top: 2px solid #111;
  border-bottom: 2px solid #111;
}

.product-dropdown {
  text-align: center;
  line-height: 50px;
  letter-spacing: 5px;
}

.badge {
  color: #3B3534;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 5px;
}

.product-name {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 800
}

.product-card {
  border: 2px #111 solid !important;
}

.card-body {
  background-color: #f0f3f5;
  border-top: 2px #111 solid;
}

.sold-text {
  color:#dc3545;
  font-size: 1.2rem;
  font-weight: 800;
  font-family: 'Roboto Condensed', sans-serif;
}

.btt-btn {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.btt-cursor {
  cursor: pointer;
}

/* Basket */

.basket-header h2 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.remove-item {
  cursor: pointer !important;
}

/* Checkout */

.checkout-header h2 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.checkout-subheader {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.checkout-success-text {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Profile */

.profile-header h2 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.profile-subheader {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Add Product Form */

.update-header h2 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.update-subheader {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Toasts */

.toast-btn {
  font-size: 0.7rem;
  background-color: #111;
  color: #fff;
}

.close {
  position: relative;
  top: 10px;
  right: 10px;
  float: right !important;
}

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

.basket-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

.toast-text {
  color:#111 !important;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}
/* Product Form */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}

/* Product Details */

.product-name {
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Blog */

.blog-header h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 800 !important;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.blog-main {
  margin: auto;
  width: 100%;
}

.blog-card-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  border-bottom: 1px solid #111;
}

.blog-card-subtext {
  margin: auto;
  border-bottom: 1px solid #111;
  width: 50%;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.blog-comment {
  overflow-wrap: break-word;
}
/* Contact */

.contact-header h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 800 !important;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.contact-text {
  margin-top: 15px;
  font-size: 0.8rem;
}

.strong {
  font-weight: 600;
}

.contact-main {
  margin: auto;
  padding-bottom: 30px;
}

/* Footer */

.footer {
  background: #3b3534;
  color: #fbfbf8;
  font-size: 0.8rem;
  width: 100%;
  padding: 20px;
  flex-shrink: 0; 
}

.footer h3 {
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.footer .social {
  font-size: 1.4rem;
}

/* All Auth */

.auth-header h2 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.allauth-form-inner-content p {
  margin-top: 1.5rem;
  color: #6c757d;
}

.allauth-form-inner-content input {
  border-color: #111;
  border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
  color: #fff;
  background-color: #111;
  border-color: #111;
}

.allauth-form-inner-content a {
  color: #3b3534;
  /* text-info */
}

/* media queries */

@media screen and (max-width: 321px) {
  .toast {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .about-container {
    padding-right: 80px;
  }

  .post-detail-card {
    margin-bottom: 170px;
  }
}