<div class="row d-none d-lg-flex main-nav text-center w-100">
    <div class="col-12 col-lg-3 my-auto text-center">
      <a href="{% url 'home' %}" class="nav-link main-logo-link">
        <h2 class="header-text my-0">Artizan</h2>
      </a>
    </div>
  
    <!--Search bar only visable on desktop view-->
  
    <div class="searchbar col-12 col-lg-3 my-auto">
      <form method="GET" action="{% url 'products' %}">
        <div class="input-group">
          <input class="form-control border rounded-0" type="text" name="q" placeholder="Search our site">
          <div class="input-group-append">
            <button class="form-control rounded-0 border" type="submit">
              <span class="search">
                <i class="fas fa-search"></i>
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  
    <div class="col-12 col-lg-3 my-auto">
      <ul class="list-inline list-unstyled text-center my-0">
        <li class="list-inline-item dropdown">
          <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <div class="text-center">
              <div><i class="fas fa-caret-square-down fa-lg"></i></div>
              <p class="my-0">Menu</p>
            </div>
          </a>
          <div class="dropdown-menu border" aria-labelledby="user-options">
            {% if request.user.is_superuser %}
            <h6 class="dropdown-header subheader-text">ADMIN</h6>
            <a href="{% url 'admin:index' %}" class="dropdown-item">Dashboard</a>
            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
            <a>
              <hr class="dropdown-divider"></a>
            {% endif %}
            <h6 class="dropdown-header subheader-text">SITE</h6>
            <a href="{% url 'products' %}" class="dropdown-item">Store</a>
            <a href="{% url 'blog' %}" class="dropdown-item">Blog</a>
            <a href="{% url 'contact' %}" class="dropdown-item">Contact</a>
            <a>
              <hr class="dropdown-divider"></a>
            <h6 class="dropdown-header subheader-text">USER</h6>
            {% if request.user.is_authenticated %}
            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            {% endif %}
          </div>
        </li>
        <li class="list-inline-item ">
          <a class="nav-link" href="{% url 'view_basket' %}">
            <div class="text-center">
              <div><i class="fas fa-shopping-cart fa-lg"></i></div>
              <p class="my-0">
                {% if grand_total %}
                ${{ grand_total|floatformat:2 }}
                {% else %}
                $0.00
                {% endif %}
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  
    <div class="row">
      <div class="col-12 sub-navbar">
        <ul class="navbar-nav d-block mx-auto text-uppercase">
          <li class="nav-item active list-inline-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item list-inline-item">
            <a class="nav-link" href="{% url 'products' %}">Products</a>
          </li>
          <li class="nav-item list-inline-item">
            <a class="nav-link" href="{% url 'blog' %}">Blog</a>
          </li>
          <li class="nav-item list-inline-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>