<div class="row text-center mx-0 px-0 mobile-nav">
    <ul class="list-inline-item dropdown col-3 px-0">
      <li class="nav-link d-block d-lg-none" id="user-options-mob" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <div class="text-center">
          <div><i class="fas fa-caret-square-down"></i></div>
          <p class="my-0">Menu</p>
        </div>
      </li>

      <li class="dropdown-menu border" aria-labelledby="user-options-mob">
        {% if request.user.is_superuser %}
        <a href="{% url 'admin:index' %}" class="dropdown-item">Dashboard</a>
        <h6 class="dropdown-header subheader-text">Admin</h6> 
        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
        <hr class="dropdown-divider">
        {% endif %}  
        <h6 class="dropdown-header subheader-text">Site</h6>
        <a href="{% url 'home' %}" class="dropdown-item">Home</a>  
        <a href="{% url 'products' %}" class="dropdown-item">Store</a>
        <a href="{% url 'blog' %}" class="dropdown-item">Blog</a>
        <a href="{% url 'contact' %}" class="dropdown-item">Contact</a>
        <hr class="dropdown-divider">
        <h6 class="dropdown-header subheader-text">User</h6>
        {% if request.user.is_authenticated %}
        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
      </li>
    </ul>

    <ul class="col-5">
      <li class=" list-inline-item text-center px-0">
        <a href="{% url 'home' %}" class="nav-link d-block d-lg-none">
          <h2 class="main-header-mobile">ArtiZan</h2>
        </a>
      </li>
    </ul>

    <ul class="col-3">
      <li class="list-inline-item px-0 mx-1">
        <a class="nav-link d-block d-lg-none" href="{% url 'view_basket' %}">
          <div class="text-center">
            <div>
                <i class="fas fa-shopping-cart"></i>
            </div>
            <p class="my-0 small">
              {% if grand_total %}
              ${{ grand_total|floatformat:2 }}
              {% else %}
              $0.00
              {% endif %}
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>