<div id="topnav" class="row bg-white pt-lg-1 d-none d-lg-flex">
    <div class="col-12 col-lg-6 my-auto py-1 py-lg-0 text-center">
        <a href="{% url 'home' %}" class="nav-link main-logo-link">
            <h2 class="logo-font text-black my-0">ArtiZan</h2>
        </a>
    </div>
    <div class="col-12 col-lg-6 my-auto py-1 py-lg-0">
        <ul class="list-inline list-unstyled text-center my-0">
            <li class="list-inline-item dropdown">
                <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <div><i class="fas fa-caret-square-down fa-lg"></i></div>
                        <p class="my-0">Menu</p>
                    </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a><h6 class="dropdown-header">Admin</h6></a>
                        <a href="" class="dropdown-item">Products</a>
                        <a><hr class="dropdown-divider"></a>
                        {% endif %}
                        <a><h6 class="dropdown-header">Site</h6></a>
                        <a href="" class="dropdown-item">Gallery</a>
                        <a href="" class="dropdown-item">Blog</a>
                        <a><hr class="dropdown-divider"></a>
                        <a><h6 class="dropdown-header">User</h6></a>
                        <a href="" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            </li>
            <li class="list-inline-item">
                <a class="nav-link" href="{% url 'view_basket' %}">
                    <div class="text-center">
                        <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                        <p class="my-0">
                            {% if grand_total %}
                                ${{ grand_total|floatformat:2 }}
                            {% else %}
                                $0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row bg-white">
    <nav class="navbar navbar-expand-lg navbar-light w-100">
        <li class="list-inline-item dropdown">
            <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-caret-square-down fa-lg"></i></div>
                    <p class="my-0">Menu</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a><h6 class="dropdown-header">Admin</h6></a>
                        <a href="" class="dropdown-item">Products</a>
                        <a><hr class="dropdown-divider"></a>
                        {% endif %}
                        <a><h6 class="dropdown-header">Site</h6></a>
                        <a href="" class="dropdown-item">Gallery</a>
                        <a href="" class="dropdown-item">Blog</a>
                        <a><hr class="dropdown-divider"></a>
                        <a><h6 class="dropdown-header">User</h6></a>
                        <a href="" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
            </div>
        </li>
        <li class=" list-inline-item text-center">
            <a href="{% url 'home' %}" class="nav-link d-block d-lg-none">
                <h2 class="logo-font text-black my-0">ArtiZan</h2>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link d-block d-lg-none" href="{% url 'view_basket' %}">
                <div class="text-center">
                    <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                    <p class="my-0">
                        {% if grand_total %}
                            ${{ grand_total|floatformat:2 }}
                        {% else %}
                            $0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </li>
    </nav>
    <div class="col-12 py-1 py-lg-0">
        <form method="GET" action="">
            <div class="input-group">
                <input class="form-control" type="text" name="q" placeholder="Search our site">
                <div class="input-group-append">
                    <button class="form-control" type="submit">
                        <span class="search">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>