{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container-fluid product-details-container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid border rounded-0 " src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid border rounded-0 " src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="details-container my-5 py-3 text-center">
                    <p class="product-name">{{ product.name }}</p>
                    <p class="lead">${{ product.price }}</p>
                    <p class="small">{{ product.height }}mm (H)</p>
                    <p class="small">{{ product.width }}mm (W)</p>
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <p class="mt-3">
                        <small class="ml-3">
                            <a class="text-success" href="{% url 'edit_product' product.id %}"><i class="fas fa-edit"></i></a> | 
                            <a class="text-danger" href="{% url 'delete_product' product.id %}"><i class="fas fa-trash-alt"></i></a>
                        </small>
                    </p>
                    {% endif %}
                    <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            {% if product.sold != True %}
                            <div class="col-12">
                                <p class="mt-2"><strong>Quantity:</strong></p>
                                <div class="form-group offset-3 w-50">
                                    <div class="input-group quanitity-box">
                                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="1" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-12">
                                <a href="{% url 'products' %}" class="btn cta-btn rounded-0 mt-3">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                {% if product.sold != True %}
                                <input type="submit" class="btn cta-btn rounded-0 text-uppercase mt-3" value="Add to Basket">
                                {% else %}
                                <p class="sold-text mt-2 text-uppercase">Sold!</p> 
                                {% endif %}
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}