{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid gallery-title">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="">Gallery</h2>
                {% for c in current_categories %}
                    <a class="text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                        <span class="p-2 mt-2 badge">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <ul class="col-sm-6 list-inline-item">
                <li class="nav-item dropdown list-inline-item">
                    <a class="nav-link" href="#" id="all--link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort 
                    </a>
                    <div class="dropdown-menu" aria-labelledby="all--link">
                        <a href="{% url 'products' %}?sort=name&direction=asc" class="dropdown-item" class="dropdown-item">Name</a>
                        <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item" class="dropdown-item ">Price</a>
                        <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item" class="dropdown-item ">Category</a>
                    </div>
                </li>
        
                <li class="nav-item dropdown list-inline-item">
                    <a class="logo-font nav-link text-black" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="clothing-link">
                        <a href="{% url 'products' %}" class="dropdown-item">All </a>
                        <a href="{% url 'products' %}?category=digital_art" class="dropdown-item">Digital Art</a>
                        <a href="{% url 'products' %}?category=classic_art" class="dropdown-item">Classic Art</a>
                    </div>
                </li>
        

            </ul>
        </div>
        <div class="row">
            <div class="gallery-container col-12">
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-lg-4">
                            <div class="card">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead">${{ product.price }}</p>
                                        </div>
                                    </div>
                                    {% if product.category %}
                                    <p class="small">
                                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                            {{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="btt-btn">
        <a class="btt-cursor d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}

<script type="text/javascript">
    $('.btt-cursor').click(function(e) {
        window.scrollTo(0,0)
    })
</script>

{% endblock %}